.homebg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.home-name {
    float: right;
    width: 200vh;
    padding-top: 5px;
    color: aliceblue;
    text-align: center;
    font-size: 80px;
    font-family: 'Courier New';
}

.home-name-two {
    float: right;
    width: 200vh;
    color: aliceblue;
    text-align: center;
    font-family: 'Papyrus';
    font-size: 20px;
}